.modal-backdrop {
  position: fixed;
  z-index: 1150;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  backdrop-filter: blur(100px);
  background-color: rgba(255, 253, 253, 0.13);
}

.modal-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 11502;
  max-width: 900px;
  overflow-y: auto;
  height: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.modal-content {
  width: 100%;
}

.arrow {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  top: 40px;
  left: 40px;
  position: fixed;
  z-index: 99999;
}

.arrow-left {
  height: 1px;
  width: 40px;
  transform: rotate(-45deg);
  position: absolute;
  background-color: var(--gold);
}

.arrow-right {
  transform: rotate(45deg);
  height: 1px;
  width: 40px;
  position: relative;
  background-color: var(--gold);
}

/* list style  */

ul li {
  padding: 15px 0;
  color: red;
}

.anchor {
  text-decoration: none;
  transition: all 0.5s ease;
  padding: 20px 0;
  font-size: 2.4rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 900;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}

.anchor:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
