.home {
  padding-top: 150px;
  padding-bottom: 80px;
}

.home-title {
  font-size: 4.7rem;
  text-transform: uppercase;
  color: var(--gold);
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
}

.home-cards {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  justify-items: stretch;
  align-items: stretch;
  gap: 1rem;
}

.home-card-left__box {
  width: 438px;
  height: 300px;
  overflow: hidden;
  transition: all 0.4s linear !important;
  position: relative;
}

.home-card-left__box:hover {
  transform: scale(0.94);
  cursor: pointer;
}

img {
  transition: all 0.4s linear;
}
.home-card-left__box:hover img {
  transform: scale(1.1) !important;
  transition: all 0.4s linear;
}

.read-me {
  position: absolute;
  left: 30px;
  bottom: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 4px;
}

.fa-play {
  font-size: 0.6rem;
  margin-right: 10px;
}

.home-card-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  color: var(--gold);
  font-weight: 500s;
}

.home-card-right__title {
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.home-card-right h3 {
  font-size: 2.8rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--gold);
  -webkit-text-stroke-width: 1px;
  font-weight: 500;
}
