@font-face {
  src: url("./assets/fonts/Demo_Fonts/Fontspring-DEMO-proximanovacond-extrabold.otf");
  font-family: "Proxoma", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  --gold: #b99458;
  --white: #fff;
  --black: #000;
  --backgroundWhite: #fefefe;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 700;
  font-family: "Proxima", sans-serif;
  transition: all 0.2s ease;
}

ul li {
  list-style: none;
}

.container-header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-body {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 50px;
}

.hamburger {
  width: 50px;
}

.hamburger path {
  color: white;
}

.hidden {
  overflow: hidden;
}
/* font-family: 'Bebas Neue', sans-serif; */

.container-100 {
  max-width: 1440px;
  margin: 0 auto;
}

.global-title {
  font-size: 1.5rem;
  color: var(--gold);
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

/* my work  */

.my-work {
  padding-top: 8rem;
}

.my-work-cards {
  margin-top: 3rem;
}

.my-work-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.card-image {
  max-width: 22rem;
  max-height: 12rem;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
}

.card-image:hover {
  transform: scale(0.96) !important;
  cursor: pointer;
}

.card-image:hover img {
  transform: scale(1.1);
  transition: all 0.4s linear;
}

.card-description h3 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: -2px;
  opacity: 0.7 !important;
  margin-bottom: -20px;
}

.card-description p {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--gold);
  z-index: 34;
}

.right {
  justify-content: end;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
}

/* button style  */

.btn-universal {
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  font-size: 0.9rem;
  background-color: black;
  width: 100px;
  height: 45px;
  color: white;
  border: none;
  margin-top: 2rem;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.btn-universal.p {
  margin-top: 10px;
}

.btn-universal:hover {
  cursor: pointer;
}

.btn-universal:hover .gold-shadow {
  top: 0;
}

.gold-shadow {
  top: 200px;
  z-index: -2;
  left: 0;
  position: absolute;
  width: 100%;
  height: 70px;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  background-color: var(--gold);
}

/* Responsive */

@media screen and (max-width: 1250px) {
  :root {
    font-size: 16px;
  }
  .container-body {
    max-width: 1440px;
    padding: 0 120px;
  }
}

/* ---------------------------------------------------- */

@media screen and (max-width: 1050px) {
  .read-more {
    padding: 0 50px;
  }
  .global-title.padd {
    padding: 0 50px;
  }
  .me-cards {
    padding: 0 150px;
  }
  .container-body {
    padding: 0 50px;
  }
  .home {
    padding-top: 100px !important;
  }

  .home-cards {
    flex-direction: column;
    gap: 3rem;
  }

  .home-card-right__title {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .home-card-left__box {
    width: 100% !important;
  }

  .about-cards {
    flex-direction: column;
  }

  .card-description h3 {
    font-size: 3.4rem;
  }

  .about {
    padding-top: 10px !important;
  }

  .top {
    margin-top: 3rem !important;
  }

  .my-work {
    padding-top: 4rem !important;
  }

  .contact {
    padding-top: 4rem !important;
  }
}

/* ---------------------------------------- */

@media screen and (max-width: 999px) {
  .read-more {
    flex-direction: column-reverse;
    justify-content: flex-start !important;
    align-items: flex-start !important;
  }
}

@media screen and (max-width: 768px) {
  .arrow {
    top: 20px !important;
    left: 20px !important;
  }
  .me-cards {
    flex-direction: column;
    gap: 3rem;
    padding-top: 200px !important;
  }
  .my-work-card {
    flex-direction: column-reverse;
    align-items: start;
    width: 100% !important;
  }

  .card-image {
    width: 100% !important;
    max-width: 100%;
  }

  .contact-card__user {
    flex-direction: column;
  }

  .slider {
    width: 180px !important;
    height: 100px !important;
    margin: 10px !important;
  }

  .react-icons {
    font-size: 50px !important;
  }

  .slider-card {
    gap: 0rem !important;
  }
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 14px;
  }
  .container-header {
    padding: 10px;
  }
  .container-body {
    padding: 0 10px;
  }
  .contact-card {
    padding: 20px 10px !important;
  }

  .home-card-left__box {
    height: 300px !important;
  }

  .slider {
    width: 100px !important;
    height: 50px !important;
    margin: 10px !important;
  }

  .react-icons {
    font-size: 30px !important;
  }

  .slider-card {
    gap: 0rem !important;
  }

  .contact {
    margin-bottom: 4rem !important;
  }

  .home-card-right h3 {
    font-size: 2.3rem !important;
  }

  input {
    margin-top: 5px !important;
    padding: 5px !important;
  }
}
