@font-face {
  src: url("./assets/fonts/Demo_Fonts/Fontspring-DEMO-proximanovacond-extrabold.otf");
  font-family: "Proxoma", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  --gold: #b99458;
  --white: #fff;
  --black: #000;
  --backgroundWhite: #fefefe;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-weight: 700;
  font-family: "Proxima", sans-serif;
  height: 4000px;
  transition: all 0.2s ease;
}

.container-header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 200px;
}

.hamburger {
  width: 50px;
}

.hamburger path {
  color: white;
}

.hidden {
  overflow: hidden;
}
/* font-family: 'Bebas Neue', sans-serif; */

.container-100 {
  max-width: 1440px;
  margin: 0 auto;
}

.global-title {
  font-size: 1.5rem;
  color: var(--gold);
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
}

/* my work  */

.my-work {
  padding-top: 8rem;
}

.my-work-cards {
  margin-top: 3rem;
}

.my-work-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.card-image {
  max-width: 22rem;
  max-height: 12rem;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s linear;
}

.card-image:hover {
  transform: scale(0.96) !important;
  cursor: pointer;
}

.card-image:hover img {
  transform: scale(1.1);
  transition: all 0.4s linear;
}

.card-description h3 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 500;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: -2px;
  opacity: 0.7 !important;
  margin-bottom: -20px;
}

.card-description p {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--gold);
  z-index: 34;
}

.right {
  justify-content: end;
  flex-direction: row-reverse;
}

a {
  text-decoration: none;
}
