@font-face {
  src: url("./assets/fonts/Demo_Fonts/Fontspring-DEMO-proximanovacond-extrabold.otf");
  font-family: "Proxoma", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  --gold: #b99458;
  --white: #fff;
  --black: #000;
  --backgroundWhite: #fefefe;
}

body {
  font-weight: 700;
  font-family: "Proxima", sans-serif;
  height: 4000px;
  transition: all 0.2s ease;
}

.container-header {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.container-body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 200px;
}

.hamburger {
  width: 50px;
}

.hamburger path {
  color: white;
}

.hidden {
  overflow: hidden;
}
/* font-family: 'Bebas Neue', sans-serif; */

.container-100 {
}
